@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100;1,300&family=Oswald:wght@200;400&display=swap');


.wrapperErrore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }
  
  .erroreTitle {
    min-width: 320px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: white;
  }
  
  .imageErrore {
    max-width: 100%;
    height: auto;
  }