
.btnContacts {
    border:  none;
    background-color: inherit;
    color: rgb(255, 45, 45);
    cursor: pointer;
    padding-top: 5px;
    transition: all 0.2s ease-in-out;
   

  }

  .btnContacts:hover {
       color: #d00303;
       transform: rotate(180deg);
  }

 