.btnFavorites {
    border:  none;
    background-color: inherit;
    color: rgb(213, 125, 62);
    cursor: pointer;
    padding-top: 5px;
    transition: all 0.2s ease-in-out;
    
  }

  .btnFavorites:hover {
color: rgb(183, 92, 28);
transform: rotate(360deg);

  }

  .btnLogOut {
    border:  none;
    background-color: inherit;
    color: rgb(131, 22, 182);
    cursor: pointer;
    padding-top: 5px;
    transition: all 0.2s ease-in-out;
  }

  .btnLogOut:hover {
    color: rgb(183, 28, 28);
    transform: rotate(360deg);
    
      }

  .btnOpenMessage {
    border:  none;
    background-color: inherit;
    color: rgb(131, 22, 182);
    cursor: pointer;
    padding-top: 5px;
    transition: all 0.2s ease-in-out;
  }

  .btnOpenMessage:hover {
    color: rgb(18, 190, 44);
    transform: scale(110%);
  }

  .btnCloseMessage {
    position: absolute;
    top: 10px;
    right: 10px;
    border:  none;
    background-color: inherit;
    color: rgb(131, 22, 182);
    cursor: pointer;
    padding-top: 5px;
    transition: all 0.2s ease-in-out;
  }
  
  .btnCloseMessage:hover,
  .btnCloseMessage:focus {
    color: rgb(183, 28, 28);
  transform: rotate(360deg)
  
  }
  