@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100;1,300&family=Oswald:wght@200;400&display=swap');

.listContacts {
    list-style: none;
    padding: 0;
  }

  .elemContacts {
    margin: 10px 0;
    padding: 10px;
    background-color: rgba(102, 90, 182, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
 
  }

  .contactText {
    font-family: 'Oswald', sans-serif;
    color: #ffffff ;
  }

  .contactTextNumber {
    font-family: 'Montserrat', sans-serif;

  }

  .wrapperBtnModal {
    display: flex;
    gap: 5px;
  }

  .btnOpenModal {
    background-color: inherit;
    color: #fff;
    border: none;
    padding-top: 5px;
    cursor: pointer;
    transition: 250ms linear;
  }

  .btnOpenModal:hover,
  .btnOpenModal:focus {
    color: blue;
    transform: scale(110%);
  }

  .contactsImg {
    width: 30px;
    height: 30px;
    border-radius: 20px;
  }
